#input-container,
#preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.preview {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

img.solution {
    margin-top: 10px;
}

#error {
    color: red;
}

#numpad {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(3, 75px);
    gap: 5px;
    margin-top: 10px;
}

#numpad button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
}

#numpad button:hover {
    background-color: lightpink;
}

.numpad-decimal {
    background-color: lightblue;
}

#numpad-dot,
#numpad-arrow {
    background-color: lightgreen;
}

#operand-count,
#operations {
    margin-top: 10px;
}